<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Workmen:</strong>
  <%= @person.workmen %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @person.customer %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @person.image_url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @person.telephone %>
</p>

<p>
  <strong>Profile picture:</strong>
  <% begin %>
    <%= image_tag @person.profile_picture %>
  <% rescue %>
    No picture.
  <% end %>
</p>

<p>
  <Strong> Photos: </Strong>
  <% @person.photos.each do |photo| %>
       <%= image_tag photo %> <br />       
     <% end %>
</p>

<br /><br />

<%= link_to 'Edit', edit_person_path(@person) %>

