<!-- View for a edditing separate works -->
<h1>Editing Works</h1>

<%= form_with(model: @work, local: true, url: work_path) do |form| %>
  <% if @work.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Please change the work title:<br />
    <%= form.text_field :title %>
  </div> <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
