<!-- View for a edditing separate works -->
<h1>Editing Works</h1>

<%= form_with(model: @work, local: true, url: edit_work_path) do |form| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    If you haven't found your service, please create new one:<br />
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', works_path %>
