<p id="notice"><%= notice %></p>

<h1>Works</h1> <br>

<table class="elements_list">
  <tbody>
    <% @works.each do |work| %>
      <tr>
        <% if @is_admin %> <td><%= work.id %> </td> <% end %>
                           <td><%= work.title %></td>
                           <td><%= link_to 'Show', work %></td>
        <% if @is_admin %> <td><%= link_to 'Edit', edit_work_path(work) %></td> <% end %>
        <% if @is_admin %> <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td> <% end %>
                           <td><%= link_to 'Show work users', work_users_path(work.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @is_admin %> <%= link_to 'New Work', new_work_path %> <% end %>
