<h1>New Work</h1>

<%= form_with(model: @work, local: true) do |form| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% #if false %>
 <div class="field">
   <%= form.label :title %>
   <%= form.text_field :title %>
 </div>
<% #end %>

  <div class="actions">
    <%= form.submit "Finish"%>
  </div>
<% end %>

<%= link_to 'Back', works_path %>
