<%= form_with(model: @work, url: registration_create_work_path, local: true) do |form| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    Please select from existing services:<br />
    <%= select_tag "existed_works_id", options_from_collection_for_select(@works, "id", "title"), multiple: true %>
  </div> <br />

<% #if false %>
 <div class="field">
   If you haven't found your service, please create new one:<br />
   <%= form.text_field :title %>
 </div>
<% #end %>

  <div class="actions">
    <%= form.submit "Finish" %>
  </div>
<% end %>