<p id="notice"><%= notice %></p>

<p>
  <strong> <%= @work.title%> </strong>
</p>

<p>
  <strong>Workmens:</strong> <br>

  <% @work.users.each do |u|%>
  		<%= u.username %> <br>
  <% end %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
