<h2>Profile picture - <%= @user.username %></h2>

<br>
<br>
<% if @user.profile_picture.attached? %>
  <%= image_tag @user.profile_picture %>
<% else %>
  No profile picture.
<% end %>
<br>
<br>

<div>
  Change?
  <%= form_with(model: @user, url: update_users_pictures_path(@user), local: true, multipart: true) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.file_field :profile_picture%>
    </div>
  
    <div class="actions">
      <%= form.submit "Update profile picture"%>
    </div>  
  <% end %>
</div>