<h3> <%= @user.username %> </h3>

<table class="elements_list">
  <tr> <td>Public uid: </td> <td><%= @user.public_uid %></td> </tr>

  <tr> <td>Username: </td> <td><%= @user.username %></td> </tr>

  <tr> <td>Email: </td> <td><%= @user.email %></td> </tr>

  <tr> <td>Address: </td> <td><%= @user.address %></td> </tr>

  <tr> <td>Telephone: </td> <td><%= @user.telephone %></td> </tr>

  <tr>
    <td>Profile picture: </td>
    <td>
      <% if @user.profile_picture.attached? %>
        <%= image_tag @user.profile_picture %>
      <% else %>
        No profile picture.
      <% end %>  
    </td>
  </tr>

  <tr>
    <td>Account: </td>
    <td>
      <% if @user.account.customer %>
           customer <br>
      <% end %>
      
      <% if @user.account.workmen %>
           workmen <br>
      <% end %>

      <% if @user.account.admin %>
           admin
      <% end %>
    </td>
  </tr>

  <tr>
    <td> Works: </td>
    <td>
      <% @user.works.each do |work| %>
        <%= work.title %> <br>
      <% end %>
    </td>
  </tr>

</table>



