<h1> app/views/users/show.html.erb </h1>

<% if false %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Workmen:</strong>
  <%= @user.workmen %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @user.customer %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @user.telephone %>
</p>

<p>
  <strong>Profile picture:</strong>
  <% begin %>
    <%= image_tag @user.profile_picture %>
  <% rescue %>
    No picture.
  <% end %>
</p>

<p>
  <Strong> Photos: </Strong>
  <% @user.photos.each do |photo| %>
       <%= image_tag photo %> <br />       
     <% end %>
</p>

<br /><br />

<%= link_to 'Edit', edit_user_path(@user) %>



<% end %>
