<!DOCTYPE html>
<html>
  <head>
    <title>Workmenshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div id="main">
      <div id="header">
        <div id="header_0">
          <%= image_tag("page_logo.jpg", class: 'page_logo') %>
        </div>

        <div id="header_1">
          <p class="title"> WorkmenShop </p>
        </div>

        <div id="header_3">
            <% if !user_signed_in? %>
            <p class="logg"> <%= link_to 'Sign-in', new_user_session_path %> &nbsp &nbsp or &nbsp &nbsp <%= link_to 'Sign-up', new_user_registration_path %></p>
          <% else %>
            <p class="logg"> <%= link_to 'Sign-out', destroy_user_session_path,
            method: :delete %> &nbsp &nbsp </p>
          <% end %>

        </div>

      </div>

      <div id="top_menubar">
        <ul id="top_menubar_item">
          <li> <%= link_to 'Introduction', root_path %> </li>
          <li> <%= link_to 'All works', works_path%> </li>
          <li>  </li>
          <li>  </li>
          <li>  </li>
          <li>  </li>
        </ul> 
      </div>
            
      <div id="page_content">
        
        <% if @is_admin%>  <!-- if user is admin --> 
              <%= render "loged_admin/left_sidebar" %>
        <% elsif user_signed_in? %>  <!-- if user is not admin but is signed in-->
          <%= render "loged_user/left_sidebar" %>  
        <% end %>

        
        <div id="mainbar" 
          <% if user_signed_in? %> style="width: 590px"
          <% end %>   
        >
          
          <!-- this part of code render all flashes in format according his mane and this name styling in application.scss -->
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
          

          <% if session[:message_unauthorized] %>
               <%= content_tag :div, session[:message_unauthorized], class: "message_unauthorized" %>
               <% session[:message_unauthorized] = nil %>
          <% end %>


          <br />

          <%= yield %>           
        
        </div>
              
      </div>
            
      <div id="footer">
        ©2018, www.workmenshop.com, 
        Produced by IRI :), 
        rene.ivanov@gmail.com
      </div>
    </div>
    
  </body>
</html>
