<!DOCTYPE html>
<html>
  <head>
    <title>Workmenshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div id="main">
      <div id="header">
        <div id="header_0">
          <%= image_tag("page_logo.jpg", class: 'page_logo') %>
        </div>

        <div id="header_1">
          <p class="title"> WorkmenShop </p>
        </div>

        <div id="header_3">
          <% if session[:person_id] == nil %>
            <p class="logg"> <%= link_to 'Loggin', login_path %> &nbsp &nbsp or &nbsp &nbsp <%= link_to 'Sign in', new_person_path %></p>
          <% else %>
            <p class="logg"> <%= link_to 'Loggout', logout_path,
            method: :delete %> &nbsp &nbsp </p>
          <% end %>

        </div>

      </div>

      <div id="top_menubar">
        <ul id="top_menubar_item">
          <li> <%= link_to 'Introduction', root_path %> </li>
          <li> 1111 </li>
           <li> 222 </li>
          <li> 44444 </li>
          <li> 555555 </li>
          <li> 6666 </li>
        </ul> 
      </div>
            
      <div id="page_content">
        
        <% if session[:person_id] != nil %>  <!-- if person is loged --> 
            <% if session[:admin] == true %> <!-- if person is admin -->
              <%= render "loged_admin/left_sidebar" %>

            <% else %>  <!-- if person is user -->
              <%= render "loged_user/left_sidebar" %>  
            <% end %>
          
        <% end %>

        <div id="mainbar" 
          <% if session[:person_id] != nil %> style="width: 590px"
          <% end %>   
        >
          <%= yield %>           
        </div>  
              
      </div>
            
      <div id="footer">
        ©2018, www.workmenshop.com, 
        Produced by IRI :), 
        rene.ivanov@gmail.com
      </div>
    </div>
    
  </body>
</html>
