<!DOCTYPE html>
<html>
  <head>
    <title>Workmenshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div id="main">
      <div id="header">
        <div id="header_0">
          <%= image_tag("page_logo.jpg", class: 'page_logo') %>
        </div>

        <div id="header_1">
          <p class="title"> WorkmenShop </p>
        </div>

        <div id="header_3">
          <p class="page_logo"> Make it easy! </p>
        </div>

      </div>

      <div id="top_menubar">
        <ul id="top_menubar_item">
          <li> 11111111111 </li>
          <li> 2222 </li>
          <li> 3333333 </li>
          <li> 44444 </li>
          <li> 555555 </li>
          <li> 6666 </li>
        </ul> 
      </div>
            
      <div id="page_content">
        <div id="mainbar">
          THIS IS MAINBAR
          <%= yield %>           
        </div>  
              
      </div>
            
      <div id="footer">
        ©2018, www.workmenshop.com, 
        Produced by IRI :), 
        rene.ivanov@gmail.com
      </div>
    </div>
    
  </body>
</html>
