<%= form_with(model: @account, url: @route, local: true) do |f| %>
  
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    I am a workmen and I want to offer my working services: &nbsp
    <%= f.check_box :workmen%> <br />
  </div>

  <div class="field">
    I am a customer and I find some services: &nbsp
    <%= f.check_box :customer%> <br />
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
